<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" src="js/particles.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <meta charset="UTF-8"></meta>
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World</h1>
  <p>AMI ID: [[${ec2Info.amiId}]]</p>
  <p>HOST NAME: [[${ec2Info.hostname}]]</p>
  <p>PUBLIC IPv4: [[${ec2Info.publicIpv4}]]</p>
  <p>INSTANCE TYPE: [[${ec2Info.instanceType}]]</p>
  <p>INSTANCE ID: [[${ec2Info.instanceId}]]</p>
  <p>PARAM TEST: [[${ec2Info.paramTest}]]</p>
</body>
</html>